<div class="container">

  <h1 class="movie-headline">Create a new movie list</h1>

  <%= simple_form_for @list do |f| %>
    <%= f.input :name, placeholder: 'Hong Kong' %>
    <%= f.submit class: 'btn btn-flat' %>
  <% end %>

</div>
