$b-height: 640px;
$n-height: 66px;

.list-body h1, h3, p {
  font-family: 'Space Grotesk', sans-serif;
  line-height: 4rem;
}

.movie-banner {
  width: 100%;
  height: $b-height;
  object-fit: cover;
  filter: brightness(40%);
}
.banner-headline {
  position: absolute;
  top: $n-height;
  width: 100%;
  height: $b-height;
  text-align: center;
  color: yellow;

  h1 {
    margin-top: 4rem;
  }
}

.movie-list {
  width: 90%;
  height: 100px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
