.alert {
  // position: fixed;
  // bottom: 16px;
  // right: 16px;
  // z-index: 1000;
  position: absolute;
  top: 6rem;
  left: 1.5rem;
  width: 25rem;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  z-index: 999;
  animation: alertAnimation;
  animation-duration: 18s;
  animation-fill-mode: forwards;
}
.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
@keyframes alertAnimation {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.8;
  }
  40% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}
